<div class="container">
  <h3>Tweet yo'self</h3>
  <form id="create-tweet" action="/tweet" method="POST">
    <label>Tweet: </label>
    <textarea name="tweet" cols="25" rows="5"></textarea>
    <input type="submit" value="TWEET">
  </form>
</div>
